<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CelestialSpeedoMeter</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="fixed">
        <nav class="navbar">
            <h1>CelestialSpeedoMeter</h1>
        </nav>

        <div id="heading" class="heading">

        </div>

        <div class="container">

            <div class="lightPathBehind">
                <!-- span tag is the light passing behind the galleries -->
                <span class="light-animation" id="light-duration"></span>

                <!-- Gallery 1 -->
                <div class="gallery1">
                    <div class="controls">
                        <button class="prev-btn"><img src="images/previous.png" alt="previous"></button>
                    </div>

                    <div id="object1" class="image-container">
                        <img data-value="Sun" src="images/sun_image.png" alt="sun_image">
                        <img data-value="Earth" src="images/earth_image.png" alt="earth_image">
                        <img data-value="Moon" src="images/moon_image.png" alt="moon_image">
                        <img data-value="Mercury" src="images/mercury_image.png" alt="mercury_image">
                        <img data-value="Venus" src="images/venus_image.png" alt="venus_image">
                        <img data-value="Mars" src="images/mars_image.png" alt="mars_image">
                        <img data-value="Jupiter" src="images/jupiter_image.png" alt="jupiter_image">
                        <img data-value="Saturn" src="images/saturn_image.png" alt="saturn_image">
                        <img data-value="Uranus" src="images/uranus_image.png" alt="uranus_image">
                        <img data-value="Neptune" src="images/neptune_image.png" alt="neptune_image">
                        <img data-value="Pluto" src="images/pluto_image.png" alt="pluto_image">
                    </div>

                    <div class="controls">
                        <button class="next-btn"><img src="images/next.png" alt="next"></button>
                    </div>
                </div>

                <!-- Light Path -->
                <div class="lightPath">
                    <div class="timer">
                        <span id="hours">00</span><span>:</span>
                        <span id="minutes">00</span><span>:</span>
                        <span id="seconds">00</span>
                    </div>
                </div>

                <!-- Gallery 2 -->
                <div class="gallery2">
                    <div class="controls">
                        <button class="prev-btn"><img src="images/previous.png" alt="previous"></button>
                    </div>

                    <div id="object2" class="image-container">
                        <img data-value="Earth" src="images/earth_image.png" alt="earth_image">
                        <img data-value="Sun" src="images/sun_image.png" alt="sun_image">
                        <img data-value="Moon" src="images/moon_image.png" alt="moon_image">
                        <img data-value="Mercury" src="images/mercury_image.png" alt="mercury_image">
                        <img data-value="Venus" src="images/venus_image.png" alt="venus_image">
                        <img data-value="Mars" src="images/mars_image.png" alt="mars_image">
                        <img data-value="Jupiter" src="images/jupiter_image.png" alt="jupiter_image">
                        <img data-value="Saturn" src="images/saturn_image.png" alt="saturn_image">
                        <img data-value="Uranus" src="images/uranus_image.png" alt="uranus_image">
                        <img data-value="Neptune" src="images/neptune_image.png" alt="neptune_image">
                        <img data-value="Pluto" src="images/pluto_image.png" alt="pluto_image">
                    </div>

                    <div class="controls">
                        <button class="next-btn"><img src="images/next.png" alt="next"></button>
                    </div>
                </div>

            </div>

        </div>

        <div class="footer">
            This website is made by YASH.
        </div>

    </div>
    <script src="main.js"></script>
</body>

</html>