@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    /* Font Settings */
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.fixed {
    max-width: 1366px;
    /* Optional: Set a maximum width if needed */
    max-height: 607px;
    /* Optional: Set a maximum height if needed */
}


/* Navbar */
.navbar {
    height: 40px;
    text-align: center;
    margin: 15px;
}

.navbar h1 {
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    font-family: "Aldrich", sans-serif;

    /* Gradiant clipped on text */
    background: linear-gradient(45deg, #0064ff, #00ff72);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Heading */
.heading h2 {
    padding: 10px 200px;
    font-size: 24px;
}

/* Main Container */
.container {
    display: flex;
    height: 435px;
    align-items: center;
    justify-content: center;
}

/* Light Path Behind */
.lightPathBehind {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Light Path */
.lightPath {
    width: 510px;
    height: 100%;
}

/* Light */
span {
    position: relative;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.1), 0 0 8px 8px rgba(255, 255, 255, 0.1), 0 0 20px 4px rgba(255, 255, 255, 1);

    /* 500 seconds = 8 minutes and 20 seconds */
    animation: lightTravel 500s linear infinite;
}

/* Starting and Ending Path of Light */
@keyframes lightTravel {
    0% {
        /* Rotate the light by 180 degree for make its trail on the left side */
        transform: rotate(180deg);
        /* Starting position at the surface of the Sun */
        left: 275px;
    }

    100% {
        transform: rotate(180deg);
        /* Ending position at the surface of the Earth */
        left: calc(75%);
    }
}

/* Light Trail */
span::before {
    content: '';
    position: absolute;
    top: 50%;
    /* Creating the effect of spreading or diverging light. */
    transform: translateY(-40%);
    width: 200px;
    height: 1px;
    background: linear-gradient(90deg, #ffffff, transparent);
    /* trail fade effect */
}

/* Gallery CSS */
.gallery1, .gallery2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.image-container {
    display: flex;
    align-items: center;
    width: 85%;
    height: 250px;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
}

.image-container img {
    height: 250px;
    width: 250px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

/* To make the background of the buttons black */
.controls button {
    margin-top: 10px;
    background-color: black;
    opacity: 70%;
}

.prev-btn,
.next-btn {
    border: none;
}

.prev-btn img,
.next-btn img {
    height: 30px;
    width: 30px;
}

/* Footer */
.footer {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    /* Vertically center the text */
}